name: Build and Push Docker Image

on:
  workflow_call:
    inputs:
      docker_image_name:
        description: 'Nombre de la imagen Docker'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME  }}
          password: ${{ secrets.DOCKER_TOKEN  }}

      
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME  }}/${{ inputs.docker_image_name }}
          tags: |
            type=raw,value=build-${{ github.run_number }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.created=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
      
  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install OC CLI
        run: |
          curl -L https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/openshift-client-linux.tar.gz | tar xz
          sudo mv oc /usr/local/bin/
          oc version
      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0
      - name: Log in Openshift
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: https://api.rm1.0a51.p1.openshiftapps.com:6443
          openshift_token: ${{ secrets.OC_TOKEN }}
      - name: Update Deployment tag
        run: |
          echo "Reemplazando {{ tag }} con ${{ github.run_number }}"
          sed -i "s|{{ tag }}|${{ github.run_number }}|g" values.yaml
          cat values.yaml

      - name: Deploy files
        run: |
          helm show chart oci://registry-1.docker.io/sofiamosquera/sm-chart --version 7
          helm upgrade --install microservicio-1 oci://registry-1.docker.io/sofiamosquera/sm-chart --version 7 --values values.yaml
